
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="style.css">

<style>
  a {
    
    padding: 80px;



}

 .products-section{

    display: grid;
    grid-template-columns: auto auto auto;

    margin-left: 150px;
    margin-top: 80px;
    
 }

 .product{
    width: 250px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    position: relative;
    

 }
  body{

    background-image: url('../public/images/background.jpg');
 }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <h1>Akman Cart &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><h1>HOME&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1></h1><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products"><h1>PRODUCTS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><h1>ABOUT</h1></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart"><h1>CART</h1></a>
            </li>
          </ul>
          
          <span class="navbar-text">
           
          </span>
        </div>
    </nav>

    <section>
        <div class = "product-container">



            <div class="products-section">
              
              <% for(var i=0; i < collections.length; i++) { %>
                <% if(collections[i].product_count_on_stock>0){ %>
                <div class = "product">
                    <div class = "product-image">
                        <img src="../public/images/<%= collections[i]._id %>.jpg" width= "500" height = "500" alt=""/>
                    </div>

                    <div class = "product-details">
                      


                        <h5><%= collections[i].product_name %></h5>
                        <h5><%= collections[i].product_price %> USD</h5>
                        <button class = "btn btn-warning">
                          <i class="fad fa-shopping-cart" style="--fa-primary-color: #511f50; --fa-secondary-color: #1f4551;">Add to Cart</i>
                        </button>
  
                
                    </div>
                </div>
                <% } %>
             <% } %>
            </div>

            

        </div>
    </section>
</body>
</html>